
body {  /*lo stile per tutte le schermate: al centro della pagina*/
    
    text-align: center;
}

footer {
        
    text-align: center;
    height: 10px;
    bottom: 30px;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;

}

div.homepage {  /*definisce lo stile della schermata blu principale*/

    background-color: #1560BD;
    width: 800px;   /*larghezza*/
    height: 600px;	 /*altezza*/
    text-align: center;
    margin: 0 auto;

}

#score{ /*definisce lo stile della scritta "Coins" sotto il banner*/
    
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-align: left;
    margin-left: 25px;
    
}

#banner {   /*lo stile del banner "UniCAsinò"*/
    text-align: center;
}

div.login { /*stile del riquadro del login*/
    
    position: relative;
    top: 70px;
    left: 30%;
    
}

p.loginForm {   /*stile del form login*/
    
    color: white;
    font-family: "Arial";
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    
}

.colonna {  /*definisce la colonna contenente il bottone per l' inserimento dei gettoni e la leva*/
    
    width: 300px;   /*larghezza*/
    height: 90px;	 /*altezza*/
    position: relative;
    bottom: 150px;
    left: 560px;
    
}

#insertCoinPic {    /*stile del bottone dei gettoni*/
    
    position: relative;
    bottom: 10px;

}

.caselle {  /*disposizione della caselle random all'interno della slot machine*/
    
    position: relative;
    right: 50px;
    top: 60px;
}

#disclaimer {   /*banner AAMS nella schermata di login*/
    
    position: relative;
    top: 300px;
    
}


.elencoPunteggi { /*definisce lo stile del' elenco dei punteggi*/
    
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 25px;
    color: yellow;
    
}

.scoreForm { /*definisce lo stile del form per l'invio dei punteggi'*/
    
    text-align: center;
    color: white;
    
}

#goToScore, #aboutMe, #logoutExit {
    
    text-decoration: none;      /*tolgo la sottolineatura dai link*/

}

#goToScore:hover, #aboutMe:hover, #logoutExit:hover {
    
    text-decoration: underline;     /**sottolineo i link al passaggio del mouse e li coloro di rosso*/
    color: red;

}