
div.homepage {

    background-color: #1560BD;
    width: 800px;   /*larghezza*/
    height: 600px;	 /*altezza*/
    position: absolute;
    text-align: center;

}

#score{
    
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-align: left;
    margin-left: 25px;
    
}

#banner {
    
    text-align: center;


}

div.login {
    
    position: relative;
    top: 70px;
    left: 30%;
    
}

p.loginForm {
    
    color: white;
    font-family: "Arial";
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    
}

.colonna {
    
    position: absolute;
    bottom: 20px;
    right: 15px;
    
}

#insertCoinPic {
    
    position: relative;
    bottom: 10px;

}

.caselle {
    
    position: relative;
    right: 50px;
    top: 60px;
}