
div.homepage {

    background-color: #1560BD;
    width: 800px;   /*larghezza*/
    height: 600px;	 /*altezza*/
    position: absolute;
    text-align: center;

}

.score{
    
    //color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-align: left;
    margin-left: 25px;
    
}

#banner {
    
    text-align: center;


}

div.login {
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    
}

p.loginForm {
    
    color: white;
    font-family: "Arial";
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    
}