/**selettori delle impostazioni schermo*/

html,body {
	height:100%
}
	
.homepage {
	width:100%;
	height:100%;
	position:relative;
}
	
.testata {
	height:100px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
} 
	
.colonne {
	margin-top:100px;
	width:100%;
} 

.colonne, .colonnaSinistra, .centro, .colonnaDestra{
	height:100%;
}
	
.colonnaSinistra, .colonnaDestra {
	width:200px;
	height:100%;
}
	
.colonnaSinistra {
	float:left;
}

.centro {
	margin-left:200px; 
}

.colonnaDestra {
	float:right;
}
	
footer {
	width: 100%;
	bottom: 0;
	height: 20px;
	/*position: fixed;*/
}

/**impostazioni banner del sito */
img#bannerSito {
	margin-left: 10px;
	margin-top: 5px;
}

.help {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
