/**selettori per il testo*/

p {
	color: black;
	font-family: "Arial", sans;
	font-size: 14px;
}

p#footerText {
	color: black;
	font-family: "Arial", sans;
	font-size: 12px;
	text-align: right;
	margin-bottom: 20px;
	margin-right: 10px
	
}

/***selettore del menù della testata*/
p#menu {
	text-align: right;
	color: #FFFFFF;
	margin-right: 30px;
}

/**colore dei link*/

a.testoUp {
	color: white;
}

a.testoUp:hover {
	color: #F7F7F7; /**grigio 20%*/
}
