/**selettori per il testo*/

p {
	color: black;
	font-family: "Arial", sans;
	font-size: 14px;
}

footer {
	color: black;
	font-family: "Arial", sans;
	font-size: 14px;
	text-align: left;
}

p#menu {
	text-align: left;
	color: #FFFFFF;
}
